@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

*::before,
*::after {
  padding: 0;
  margin: 0;
}

:root {
  --pink: #ff74a4;
  --violet: #9f6ea3;
  --lightblack: #515C6F;
  --white: #ffffff;
  --darkwhite: #cecaca;
  --pinkshadow: #ffcbdd;
  --lightbshadow: rgba(0, 0, 0, 0.15);
  --crimson: #dc143c;
  --lightblue: #add8e6;
  --coral: #FF7F50;
  --royalblue: #4169e1;
  --gold: #ffd700;
  --yellow:#ffff00;
  --lightgreen: #90ee90;
  --purple: #7E57C2;
  --black: #020202;
  --modren: #566573;
  --picture: #293a58;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  /* background: rgb(141,177,250);
  background: radial-gradient(circle, rgba(141,177,250,1) 0%, rgba(92,100,243,1) 100%); */

  background:
  radial-gradient(circle at 50% 0,
    rgba(255, 76, 137,.7),
    rgba(255,0,0,0) 70.71%),
  radial-gradient(circle at 6.7% 75%,
    rgba(0,0,255,.5),
    rgba(0,0,255,0) 70.71%),
  radial-gradient(circle at 93.3% 75%,
    rgba(73, 174, 255, 0.6),
    rgba(0,255,0,0) 70.71%) beige;
border-radius: 70%;

/* background: linear-gradient(90deg, #49aeff, #ff4c89); */
}

.wrapper {
  width: 380px;
  padding: 25px 30px;
  overflow: hidden;
  position: relative;
  border-radius: 15px;
  box-shadow: 1.5px 5px 15px 15px rgba(0, 0, 0, 0.6);
}

.wrapper i {
  cursor: pointer;
}

.top-bar,
.progress-area .song-timer,
.controls,
.music-list .header,
.music-list ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-shadow: 0 0.3rem 0.5rem rgba(83, 56, 238, 0.3);
}

.top-bar i {
  font-size: 30px;
  color: #fff;
}

.top-bar i:first-child {
  margin-left: -7px;
}

.top-bar span {
  font-size: 18px;
  margin-left: -3px;
  color: #fff;
}

.img-area {
  width: 256px;
  height: 256px;
  overflow: hidden;
  margin-top: 25px;
  margin-left: 35px;
  border-radius: 50%;
  box-shadow: 0 0.8rem 2rem 0.4rem rgba(61, 45, 45, 0.6);
}

.img-area img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 530px) {
  .wrapper {
    width: 300px;
    padding: 25px 30px;
    overflow: hidden;
    position: relative;
    border-radius: 15px;
    box-shadow: 1.5px 5px 15px 15px rgba(0, 0, 0, 0.4);
  }

  .img-area {
    width: 180px;
    height: 180px;
    overflow: hidden;
    margin-top: 25px;
    margin-left: 30px;
    border-radius: 50%;
    box-shadow: 2px 5px 15px 15px rgba(61, 45, 45, 0.6);
  }

  .img-area img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

}



.song-details {
  text-align: center;
  margin: 30px 0;
}

.song-details p {
  color: var(--lightblack);
}

.song-details .name {
  font-size: 21px;
  color: #fff;
  text-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.8);
}

.song-details .artist {
  font-size: 18px;
  opacity: 0.9;
  line-height: 35px;
  color: #fff;
  text-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.8);
}

.progress-area {
  height: 6px;
  width: 100%;
  border-radius: 50px;
  background: #f0f0f0;
  cursor: pointer;
}

.progress-area .progress-bar {
  height: inherit;
  width: 0%;
  position: relative;
  border-radius: inherit;
  background: linear-gradient(90deg, var(--yellow) 0%, var(--violet) 100%);
}

.progress-bar::before {
  content: "";
  position: absolute;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  top: 50%;
  right: -5px;
  z-index: 2;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-50%);
  background: inherit;
  transition: opacity 0.2s ease;
}

.progress-area:hover .progress-bar::before {
  opacity: 1;
  pointer-events: auto;
}

.progress-area .song-timer {
  margin-top: 2px;
}

.song-timer span {
  font-size: 13px;
  color: var(--white);
}

.controls {
  margin: 40px 0 5px 0;
}

.controls i {
  font-size: 28px;
  user-select: none;
  background: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.controls i:hover {
  font-size: 28px;
  user-select: none;
  background: var(--royalblue);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: var(--pink);

}

.controls i:nth-child(2),
.controls i:nth-child(4) {
  font-size: 43px;
}

.controls #prev {
  margin-right: -13px;
}

.controls #next {
  margin-left: -13px;
}

.controls .play-pause {
  height: 54px;
  width: 54px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: linear-gradient(var(--white) 0%, var(--white) 100%);
}

.play-pause::before {
  position: absolute;
  content: "";
  height: 43px;
  width: 43px;
  border-radius: inherit;
  background: linear-gradient(135deg, var(--lightblue) 0%, var(--royalblue) 100%);
}

.play-pause:hover::before {
  position: absolute;
  content: "";
  height: 43px;
  width: 43px;
  border-radius: inherit;
  background: linear-gradient(135deg, var(--yellow) 0%, var(--coral) 100%);
}

.play-pause i {
  height: 43px;
  width: 43px;
  line-height: 43px;
  text-align: center;
  background: inherit;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
}

.play-pause i:hover {
  -webkit-text-fill-color: #f0f0f0;
}

.music-list {
  position: absolute;
  background: var(--white);
  width: 100%;
  left: 0;
  bottom: -55%;
  opacity: 0;
  pointer-events: none;
  z-index: 5;
  padding: 15px 30px;
  border-radius: 15px;
  box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.15s ease-out;
}

.music-list.show {
  bottom: 0;
  opacity: 1;
  pointer-events: auto;
}

.header .row {
  display: flex;
  align-items: center;
  font-size: 19px;
  color: var(--lightblack);
}

.header .row i {
  cursor: default;
}

.header .row span {
  margin-left: 5px;
}

.header #close {
  font-size: 22px;
  color: var(--lightblack);
}

.music-list ul {
  margin: 10px 0;
  max-height: 260px;
  overflow: auto;
}

.music-list ul::-webkit-scrollbar {
  width: 0px;
}

.music-list ul li {
  list-style: none;
  display: flex;
  cursor: pointer;
  padding-bottom: 10px;
  margin-bottom: 5px;
  color: var(--lightblack);
  border-bottom: 1px solid #E5E5E5;
}

.music-list ul li:hover {
  font-weight: bold;
}

.music-list ul li:last-child {
  border-bottom: 0px;
}

.music-list ul li .row span {
  font-size: 17px;
}

.music-list ul li .row p {
  opacity: 0.9;
}

ul li .audio-duration {
  font-size: 16px;
}

ul li.playing {
  pointer-events: none;
  color: var(--pink);
  font-weight: bold;
}


/* add anime class to animate */
.anime {
  animation: rotatePlayer 5s linear infinite;
}

@keyframes rotatePlayer {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}